<h1>Menu</h1>
<mat-menu #appMenu="matMenu" >
  <button mat-menu-item [matMenuTriggerFor]="subMenu">Frontend</button>
  <button mat-menu-item>Backend</button>
</mat-menu>

<button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>

<mat-menu #subMenu="matMenu">
  <button mat-menu-item>Angular</button>
  <button mat-menu-item>React</button>
  <button mat-menu-item>Vue</button>

</mat-menu>

<mat-menu #lazyMenu="matMenu">
  <ng-template matMenuContent let-name="name" let-hobby="hobby">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Hobby is {{hobby}}</button>
    <button mat-menu-item>Log out {{name}} </button>
  </ng-template>
</mat-menu>


<button mat-raised-button [matMenuTriggerData]="{ name: 'Mabatho', hobby: 'Reading' }" [matMenuTriggerFor]="lazyMenu">Mabatho</button>
<button mat-raised-button [matMenuTriggerData]="{name: 'Kgaogelo', hobby: 'Singing'}" [matMenuTriggerFor]="lazyMenu">Kgaogelo</button>
<hr>

<h1>NavBar</h1>
<mat-toolbar color="primary" class="navbar">
  <div>MyApp</div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Contact</span>
  </div>
</mat-toolbar>

<hr>
<h1>SideNav</h1>
<mat-sidenav-container>
  <mat-sidenav #sidenav (opened)= "log('Opened')" (closed)= "log('Closed')"  mode="side" [(opened)]="opened">Sidenav</mat-sidenav>
  <mat-sidenav-content>Main
    <button (click)="opened=!opened">Toggle Opened</button>
    <button (click)="sidenav.open()">Open</button>
    <button (click)="sidenav.close()">Close</button>
    <button (click)="sidenav.toggle()">Toggle</button>
  </mat-sidenav-content>
</mat-sidenav-container>

<hr>


